<template>
  <v-container>
    <v-layout>
      <v-flex xs12 justify-center>
        <v-card :color="color" class="white--text">
          <v-card-title primary-title>
            <div class="headline">{{day}}</div>
          </v-card-title>
          <ul>
            <li
              v-for="(exercice,i) in exercices"
              :key="i"
              avatar
            >{{exercice.name}}: {{exercice.qty}}</li>
          </ul>

          <v-card-actions>
            <v-btn flat dark>Details</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: "Day",
  components: {},
  props: {
    day: null,
    exercices: null,
    done: false,
    color: null
  }
};
</script>
<style lang="scss">
ul {
  list-style: none;
}
.card {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
</style>

