<template>
  <header>
    <h3>
      <v-icon color="green">track_changes</v-icon>Gym Tracker
    </h3>
  </header>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {};
  },
  methods: {},
  watch: {}
};
</script>

<style lang="scss">
</style>