<template>
  <v-container fluid grid-list-xs>
    <div class="scheduler">
      <v-list subheader>
        <v-subheader>Weekdays:</v-subheader>
        <div class="flex">
          <Day
            v-for="d in semana"
            :key="d.id"
            :day="d.day"
            :exercices="d.exercices"
            :color="d.color"
          />
        </div>
      </v-list>
    </div>
  </v-container>
</template>

<script>
import Day from "./Day.vue";

export default {
  data() {
    return {
      semana: [
        {
          id: 1,
          day: "Monday",
          color: "blue lighen-3",
          exercices: [
            {
              name: "pushups",
              qty: 10,
              type: "integer",
              qtyMade: null,
              recommendations: "not too fast, take your time"
            },
            {
              name: "cardio",
              qty: 50,
              type: "time",
              qtyMade: null,
              recommendations: "try to keep the same flow"
            }
          ]
        },
        {
          id: 2,
          day: "Tuesday",
          color: "indigo lighten-3",
          exercices: [
            {
              name: "pushups",
              qty: 10,
              type: "integer",
              qtyMade: null,
              recommendations: "not too fast, take your time"
            },
            {
              name: "cardio",
              qty: 50,
              type: "time",
              qtyMade: null,
              recommendations: "try to keep the same flow"
            }
          ]
        },
        {
          id: 3,
          day: "Wednesday",
          color: "green",
          exercices: [
            {
              name: "pushups",
              qty: 10,
              type: "integer",
              qtyMade: null,
              recommendations: "not too fast, take your time"
            },
            {
              name: "cardio",
              qty: 50,
              type: "time",
              qtyMade: null,
              recommendations: "try to keep the same flow"
            }
          ]
        },
        {
          id: 4,
          day: "Thursday",
          color: "pink",
          exercices: [
            {
              name: "pushups",
              qty: 10,
              type: "integer",
              qtyMade: null,
              recommendations: "not too fast, take your time"
            },
            {
              name: "cardio",
              qty: 50,
              type: "time",
              qtyMade: null,
              recommendations: "try to keep the same flow"
            }
          ]
        },
        {
          id: 5,
          day: "Friday",
          color: "red",
          exercices: [
            {
              name: "pushups",
              qty: 10,
              type: "integer",
              qtyMade: null,
              recommendations: "not too fast, take your time"
            },
            {
              name: "cardio",
              qty: 50,
              type: "time",
              qtyMade: null,
              recommendations: "try to keep the same flow"
            }
          ]
        },
        {
          id: 6,
          day: "Saturday",
          color: "purple",
          exercices: [
            {
              name: "pushups",
              qty: 10,
              type: "integer",
              qtyMade: null,
              recommendations: "not too fast, take your time"
            },
            {
              name: "cardio",
              qty: 50,
              type: "time",
              qtyMade: null,
              recommendations: "try to keep the same flow"
            }
          ]
        },
        {
          id: 7,
          day: "Sunday",
          color: "orange",
          exercices: [
            {
              name: "pushups",
              qty: 10,
              type: "integer",
              qtyMade: null,
              recommendations: "not too fast, take your time"
            },
            {
              name: "cardio",
              qty: 50,
              type: "time",
              qtyMade: null,
              recommendations: "try to keep the same flow"
            }
          ]
        }
      ]
    };
  },
  watch: {},
  components: {
    Day
  }
};
</script>

<style lang="scss">
.scheduler {
  height: 80vh;
  width: 100%;
  margin-top: 3rem;
  overflow-y: auto;
}
.flex {
}
</style>
