<template>
  <v-container align-center="true" justify-center="true" class="wrapper_login">
    <v-container>
      <form>
        <v-text-field :error-messages="nameErrors" label="Username" color="green" required></v-text-field>
        <v-text-field
          :append-icon="show1 ? 'visibility_off' : 'visibility'"
          :type="show1 ? 'text' : 'password'"
          color="green"
          label="Password"
          @click:append="show1 = !show1"
        ></v-text-field>
        <v-checkbox v-model="checkbox" label="Remember" color="green"></v-checkbox>

        <v-btn block outline color="green" @click="get_something">Login</v-btn>
        <v-btn block outline color="green">Sign Up</v-btn>
      </form>
    </v-container>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      show1: false,
      checkbox: false,
      password: null,
      nameErrors: ""
    };
  },
  methods: {
    get_something() {
      axios
        .get("http://localhost:8000/api/v1/users/sign-up/", {
          "content-type": "application/json"
        })
        .then(response => {
          console.log(response.data);
        })
        .catch(error => {
          console.error(error, "Error fetching user addresses.");
          throw error;
        });
    },
    watch: {}
  }
};
</script>

<style lang="scss">
.wrapper_login {
  margin: 30% auto;
}
.login__title {
  text-align: center;
  color: green;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
</style>
