<template>
  <v-bottom-nav color="green" :value="true" absolute dark>
    <v-btn flat color="black" @click="goToNextPage('Home')">
      <span>Home</span>
      <v-icon>home</v-icon>
    </v-btn>

    <v-btn flat color="black" @click="goToNextPage('Series')">
      <span>Series</span>
      <v-icon>directions_run</v-icon>
    </v-btn>

    <v-btn flat color="black">
      <span>Stats.</span>
      <v-icon>show_chart</v-icon>
    </v-btn>

    <v-btn flat color="black">
      <span>Profile</span>
      <v-icon>person</v-icon>
    </v-btn>
  </v-bottom-nav>
</template>

<script>
export default {
  name: "Menu",
  props: {
    color: "white"
  },
  methods: {
    goToNextPage(page) {
      return this.$router.push({ name: page });
    }
  },
  watch: {}
};
</script>

<style lang="scss">
</style>
