<template>
  <v-container class="day__list_info">
    <div class="day__detail">
      <v-flex xs12 mb-3>
        <v-card color="green lighten-3" class="white--text">
          <v-layout row>
            <v-flex xs9 pa-2>
              <v-card-title primary-title>
                <div>
                  <div class="headline">{{day}}</div>
                  <div>Hi! {{user}} that is your {{day}} progress!</div>
                </div>
              </v-card-title>
            </v-flex>
            <v-progress-circular
              :rotate="360"
              :size="140"
              :width="10"
              :value="progress"
              color="red"
              class="progress_bar"
            >{{progress}}%</v-progress-circular>
          </v-layout>
          <v-divider light></v-divider>
        </v-card>
      </v-flex>
    </div>
    <v-expansion-panel>
      <v-expansion-panel-content v-for="(exercice, i) in exercices" :key="i">
        <div slot="header">{{exercice.name}}</div>
        <v-card>
          <v-list subheader>
            <v-subheader>Your personal is recommending: {{exercice.recommendations}}</v-subheader>

            <v-list-tile>
              <v-list-tile-action>
                <v-checkbox color="green" label="Done?"></v-checkbox>
              </v-list-tile-action>
              <v-divider vertical class="divider"/>
              <v-list-tile-content>
                <v-text-field color="green" label="N. of repetitions"></v-text-field>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-container>
</template>

<script>
import Day from "./Day.vue";

export default {
  data() {
    return {
      user: "Marcio",
      day: "Monday",
      progress: 40,
      exercices: [
        {
          name: "pushups",
          qty: 10,
          type: "integer",
          qtyMade: null,
          recommendations: "not too fast, take your time"
        },
        {
          name: "cardio",
          qty: 50,
          type: "time",
          qtyMade: null,
          recommendations: "try to keep the same flow"
        }
      ]
    };
  },
  watch: {},
  components: {}
};
</script>

<style lang="scss">
.day__detail {
  margin: 1rem 0 0 0;
}
p {
  margin: 0;
}
.day__list_info {
  height: 80vh;
  width: 100%;
  margin-top: 3rem;
  overflow-y: auto;
}
h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.progress_bar {
  margin: 2rem 2rem;
}
.divider {
  margin: 0 2rem;
}
</style>
