<template>
  <v-app>
    <transition
      enter-active-class="animated slideInRight"
      leave-active-class="animated slideOutLeft"
      duration="500"
    >
      <router-view></router-view>
    </transition>
    <Header/>
    <Menu v-show="hasMenu"/>
  </v-app>
</template>

<script>
import Login from "./components/Login";
import Menu from "./components/Menu";
import Home from "./components/Home";
import Header from "./components/Header";

export default {
  name: "App",
  components: {
    Login,
    Header,
    Home,
    Menu
  },
  data() {
    return {
      hasMenu: null
    };
  },
  watch: {
    $route(to, from) {
      this.hasMenu = to.meta.menu;
      document.title = to.meta.title;
    }
  }
};
</script>
<style lang="scss">
header {
  height: 8vh;
  background: hsla(106, 73%, 75%, 0.562);
  color: green;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.7rem;
}
</style>

